.container{
    box-sizing: content-box;
    border: 1px solid gray;
    margin:0 25%;
}
.title{
    border: 1px solid black;
    display:flex;
    background-color:gray;
    flex-direction: column;
    align-items: left;
    margin:0;
    padding-bottom: 0;
    padding: 1rem;
    font-weight: normal;
}
.history{
    display: block;
    padding:0;
    margin-bottom:20p;
    height:40vh ;
}



.message{
    margin: .5rem;
    margin-bottom: 30px;
}

.inbox{
    display: flex;
    box-sizing: border-box;

    height:15vh;
    padding-bottom: 0;
    margin-top: 30vh; 
    background:gray
}
span{
    cursor: pointer;
    margin-bottom:20px
}
.delete{
    background-color:#FF6961;
    float:right;
}
.edit{
    background-color: orange;
    float:right;
}

p{
    overflow-wrap: break-word;
    margin-bottom: 0;
    border: 1px solid black;
    padding:5px;
}
.sendMessage{
    margin-left: 5px;
    margin-top: 5px;
    width: 85%;
    border:1px solid black;
    height: 90%;
    
}
.buttonSend{
    height:25%;
    background:#0070C0;
    width: 10%;
    cursor: pointer;
    padding:2px;
    font-size:18px;
    color: white;
    border: 1px solid #0070C0;
    border-radius: 20%;
    margin-top:7px;
    margin-left:10px;
}
.inbox{
    border: 1px solid black;
    margin-left: 140px;
    margin-right: 150px;
}
.input{
    width:43vw;
}
.save{
    cursor: pointer;
    background-color: aqua;
    border:1px solid aqua;
    border-radius: 20%;
}
.hide{
    display:none;
}